#root {
	$link: rgb(0, 92, 120);
	$link-hover: rgb(15, 128, 163);
	$visited-link: rgb(113, 25, 62);
	$visited-link-hover: rgb(160, 59, 101);
}

p {
	margin: 0 0 22px 0;
}

li {
	margin: 0 0 11px 0;
}

a:link {
	display: inline-block;
	color: var(--link);
}

a:link:after {
	display: block;
	content: '';
	border-bottom: 1.75px solid var(--link-hover);
	transform: scaleX(0);
	transition: transform 250ms ease-in-out;
}

a:visited {
	display: inline-block;
	color: var(--visited-link);
}

a:visited:after {
	display: block;
	content: '';
	border-bottom: 1.75px solid var(--visited-link-hover);
	transform: scaleX(0);
	transition: transform 250ms ease-in-out;
}

a:link:hover,
.linkHover a:link {
	color: var(--link-hover);
}

a:link:hover:after,
.linkHover a:link:after {
	transform: scaleX(1);
}

a:visited:hover,
.linkHover a:visited {
	color: var(--visited-link-hover);
}

a:visited:hover,
.linkHover a:visited:after {
	transform: scaleX(1);
}
